@model WebMVC.Models.Author.AuthorCreateViewModel
<form asp-controller="Author" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>
    
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="Surname" class="form-label"></label>
        <input asp-for="Surname" class="form-control"/>
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</form>